#profilePic {
  max-width: 100px;
  border-radius: 80px;
}

.positive {
  font-size: 3rem;
  color: lightgreen;
}
.negative {
  font-size: 3rem;
  color: red;
}
.buying-power {
  font-size: 2rem;
}
.home {
  display: flex;
  gap: 3rem;
  padding-inline: 3rem;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
// .my-performance-card {
//   flex-grow: 10;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   box-sizing: border-box;
//   width: 100%;
//   height: 100%;
// }
.account-overview-card {
  // flex-grow: 1;
  width: 35%;
  height: 35%;
}
.title {
  text-align: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buying-power {
  display: flex;
  align-items: center;
}
