<app-navbar></app-navbar>
<p>group works!</p>
<mat-card class="chart-card">
  <p class = "center"> </p>
  <h3 class="center">Group Ranking</h3>
    <div class="center">
  <p>#1  <mat-icon>account_circle</mat-icon> John Smith <p>
</div>
  <div class="center">
    <p>#2  <mat-icon>account_circle</mat-icon> John Smith <p>
  </div>
  <div class="center">
    <p>#3  <mat-icon>account_circle</mat-icon> John Smith <p>
  </div>
  <div class="center">
    <p>#4  <mat-icon>account_circle</mat-icon> John Smith <p>
  </div>
  <div class="center">
    <p>#5  <mat-icon>account_circle</mat-icon> John Smith <p>
  </div>
  <button mat-button color="primary">Add group</button>

</mat-card>


