<section id="login">
  <section id="login_left">
    <p class="welcome">
      <span class="companyName">StockRivals </span><br />
      Please sign in, or create a new account if you haven't!
    </p>
  </section>

  <section id="login_right">
    <h1 style="font-size: 2rem">Welcome</h1>
    <section id="emailPass">
      <input type="email" id="Email" class="form-control" placeholder="Email" autocomplete="off" />
      <input type="password" id="Password" class="form-control" placeholder="Password" autocomplete="off" />
    </section>
    <a (click)="authenticate()">Login / Register</a>
  </section>
</section>
