<section id="login">
  <section id="login_left">
    <img src="/assets/transparent.png" style="padding: 0; margin: 0" class="companyLogo" />
  </section>

  <section id="login_right">
    <h1 style="font-size: 2rem">Welcome</h1>
    <section id="emailPass">
      <input
        type="string"
        id="Username"
        class="form-control"
        placeholder="Username"
        autocomplete="off"
        [(ngModel)]="username"
      />
      <input
        type="password"
        id="Password"
        class="form-control"
        placeholder="Password"
        autocomplete="off"
        [(ngModel)]="password"
      />
    </section>
    <a (click)="authenticate()">Login</a>
    <a routerLink="/register">Register</a>
  </section>
</section>
