.settings-card {


  display: flex;
  /*width: 300px;*/
  justify-content: center;
  align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 400px;
}



.example-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
