<p xmlns="http://www.w3.org/1999/html">settings works!</p>

<mat-card class="settings-card">
  <mat-card-content>
    <section>
<div>Settings</div> <span class="material-icons">settings</span>


  <h3>Dark Mode</h3>
    <mat-slide-toggle></mat-slide-toggle>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Username">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
   <h2>Profile Picture </h2>
    <div class="example-button-container">
      <button mat-button color="warn">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    </section>

    <button mat-button color="warn">Sign Out</button>
</mat-card-content>

</mat-card>

