<app-navbar></app-navbar>

<section class="container" style="padding-top: 2rem">
  <h1 class="center">Settings<span class="material-icons">settings</span></h1>

  <div class="center">
    <h3>Dark Mode</h3>
    <mat-slide-toggle></mat-slide-toggle>
  </div>
  <p class="center">
    <mat-form-field appearance="outline">
      <mat-label>Change Screen Name</mat-label>
      <input matInput placeholder="name" [(ngModel)]="currNewUsername" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <div class="center">
    <button mat-button color="primary" (click)="changeName()">Change username</button>
  </div>
  <h2 style="padding-top: 15px" class="center">Profile Picture</h2>
  <div class="center">
    <input
      id="img"
      type="file"
      accept="image/*"
      (change)="changeProfilePic($event)"
      style="border: 1px solid gray; border-radius: 24px; padding: 18px"
    />
  </div>
  <div class="center">
    <button mat-button color="warn" (click)="signOut()">Sign Out</button>
  </div>
</section>
