.trading {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  padding-inline: 3rem;
  align-items: center;
  justify-content: center;
}
.trade-card-container {
  width: 50%;
}
.trade-card {
  width: 100%;
  height: 100%;
}
.form-field {
  width: 95%;
}
button {
  color: green;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
